In [1]:
import requests
import bs4
# ngecek apakah website dapat diakses
page = requests.get('https://www.bhinneka.com/jual?cari=kulkas&order=')
page

In [2]:
# Import librariees

from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
# buat driver
driver = webdriver.Chrome()

In [4]:
# sediakan url
url = 'https://www.bhinneka.com/jual?cari=kulkas&order='
# akses website
driver.get(url)

In [5]:
# extract html
html = driver.page_source

In [6]:
soup = BeautifulSoup(html, 'html.parser')

###### nama_produk

```html
<a class="text-primary text-decoration-none" itemprop="name" href="/electrolux-kulkas-portable-eum0500sb-sku3323235036" content="ELECTROLUX Kulkas Portable EUM0500SB">ELECTROLUX Kulkas Portable EUM0500SB</a>

In [9]:
nama_produk = soup.find_all('a', {'class':'text-primary text-decoration-none'})
list_produk = []

for i in nama_produk:
    list_produk.append(i.get_text())

index = 1
for i in list_produk:
    print(f"{index}. {i}")
    index += 1

1. ELECTROLUX Kulkas Portable EUM0500SB
2. POLYTRON Kulkas 2 pintu PRB 219
3. SANKEN Kulkas 1 Pintu SN-118
4. AQUA Kulkas 2 Pintu AQR-405IG
5. POLYTRON Kulkas 2 Pintu PRM21BNR
6. POLYTRON Kulkas 2 Pintu PRM 21QS
7. POLYTRON Kulkas 2 Pintu PRM 21QX
8. POLYTRON Kulkas 2 Pintu PRM 21QN
9. POLYTRON Kulkas 1 Pintu PRH 50W
10. POLYTRON Kulkas 2 Pintu PRM 28QX
11. POLYTRON Kulkas 2 Pintu PRM 23QN
12. CHANGHONG Kulkas Mini Bar Portable CBC 50
13. LG Kulkas 1 Pintu GN-201CLS
14. POLYTRON Kulkas 2 Pintu PRM 23QS
15. POLYTRON Kulkas 2 Pintu PRM 23QB
16. POLYTRON Kulkas 2 Pintu PRM 23BNR
17. POLYTRON Kulkas 2 Pintu PRM21PRX
18. SAMSUNG Kulkas 2 Pintu RT22FARBDSA
19. POLYTRON Kulkas 2 Pintu PRM 28QB
20. POLYTRON Kulkas 2 Pintu PRM 23QX
21. POLYTRON Kulkas 2 Pintu PRM 21QB
22. POLYTRON Kulkas 1 Pintu PRO16BNR
23. AQUA Kulkas 2 Pintu AQR-261DS
24. SAMSUNG Kulkas 2 Pintu RT20FARWDSA
25. HighPoint Lemari Kulkas Custom
26. AQUA Kulkas 1 Pintu AQR-D50F
27. LG Kulkas 2 Pintu GN-C422SLCN
28. LG Kulkas 2 Pintu GN-A702HLHU
29. POLYTRON Kulkas 2 Pintu PRM 21HHX Black
30. POLYTRON Kulkas 1 Pintu PRA 18HHX Black
31. POLYTRON Kulkas 1 Pintu PRA 18ANB Blue
32. POLYTRON Kulkas 1 Pintu PRA 18BNR Maroon
33. POLYTRON Kulkas 1 Pintu PRA 18BNB Blue
34. POLYTRON Kulkas 1 Pintu PRA 17ANR Maroon
35. POLYTRON Kulkas 1 Pintu PRA 17BNB Blue
36. LG Kulkas 2 Pintu GN-H602HXHU
37. LG Kulkas 2 Pintu GN-C702SGGU
38. LG Kulkas 1 Pintu GN-Y201CLB
39. LG Kulkas 2 Pintu GN-B312PLGB
40. LG Kulkas 2 Pintu GN-B392PXGB

###### list_harga

```html
<span class="oe_currency_value">2.024.500</span>

In [12]:
harga_produk = soup.find_all('span', {'class':'oe_currency_value'})
list_harga = []

for i in harga_produk:
    list_harga.append(i.get_text())

index = 1
for i in list_harga:
    print(f"{index}. {i}")
    index += 1

1. 2.999.000
2. 2.999.000
3. 1.758.000
4. 1.758.000
5. 2.024.500
6. 2.024.500
7. 3.793.500
8. 3.793.500
9. 3.793.500
10. 3.793.500
11. 3.330.000
12. 3.330.000
13. 3.499.000
14. 3.499.000
15. 5.771.000
16. 5.771.000
17. 4.045.500
18. 4.045.500
19. 3.793.500
20. 3.793.500
21. 3.541.000
22. 3.541.000
23. 2.169.000
24. 2.169.000
25. 3.026.500
26. 3.026.500
27. 5.173.000
28. 5.173.000
29. 3.541.000
30. 3.541.000
31. 3.541.000
32. 3.541.000
33. 4.045.500
34. 4.045.500
35. 3.793.500
36. 3.793.500
37. 3.541.000
38. 3.541.000
39. 1.577.500
40. 1.577.500
41. 3.290.000
42. 3.290.000
43. 8.484.000
44. 6.999.000
45. 2.150.000
46. 2.150.000
47. 3.150.000
48. 3.150.000
49. 4.334.000
50. 4.334.000
51. 5.263.500
52. 5.263.500
53. 2.997.500
54. 2.846.000
55. 9.999.000
56. 8.469.000
57. 2.845.000
58. 2.845.000
59. 7.039.500
60. 7.039.500
61. 2.359.500
62. 2.359.500
63. 2.399.000
64. 2.399.000
65. 2.137.000
66. 1.899.000
67. 3.228.500
68. 3.228.500
69. 7.700.000
70. 6.330.000
71. 4.799.000
72. 4.799.000
73. 3.600.000
74. 2.900.000
75. 11.309.000
76. 11.309.000
77. 4.999.000
78. 4.999.000
79. 3.299.000
80. 3.299.000

###### list_cicilan

```html
<span class="bmd-installment">Cicilan Rp. 168.708/bln</span>

In [13]:
cicilan = soup.find_all('span',{'class':'bmd-installment'})
list_cicilan = []

for i in cicilan:
    list_cicilan.append(i.get_text())

index = 1
for i in list_cicilan:
    print(f"{index}. {i}")
    index += 1

1. Cicilan Rp. 249.917/bln
2.





                    Jakarta Utara

3. (0)
4. Cicilan Rp. 146.500/bln
5.





                    Jakarta Utara

6. (0)
7. Cicilan Rp. 168.708/bln
8.





                    Jakarta Utara

9. (2)
10. Cicilan Rp. 316.125/bln
11.





                    Jakarta Utara

12. (0)
13. Cicilan Rp. 316.125/bln
14.





                    Jakarta Utara

15. (0)
16. Cicilan Rp. 277.500/bln
17.





                    Jakarta Utara

18. (0)
19. Cicilan Rp. 291.583/bln
20.





                    Jakarta Utara

21. (0)
22. Cicilan Rp. 480.917/bln
23.





                    Jakarta Utara

24. (1)
25. Cicilan Rp. 337.125/bln
26.





                    Jakarta Utara

27. (0)
28. Cicilan Rp. 316.125/bln
29.





                    Jakarta Utara

30. (0)
31. Cicilan Rp. 295.083/bln
32.





                    Jakarta Utara

33. (0)
34. Cicilan Rp. 180.750/bln
35.





                    Jakarta Utara

36. (0)
37. Cicilan Rp. 252.208/bln
38.





                    Jakarta Utara

39. (1)
40. Cicilan Rp. 431.083/bln
41.





                    Jakarta Utara

42. (1)
43. Cicilan Rp. 295.083/bln
44.





                    Jakarta Utara

45. (0)
46. Cicilan Rp. 295.083/bln
47.





                    Jakarta Utara

48. (0)
49. Cicilan Rp. 337.125/bln
50.





                    Jakarta Utara

51. (0)
52. Cicilan Rp. 316.125/bln
53.





                    Jakarta Utara

54. (0)
55. Cicilan Rp. 295.083/bln
56.





                    Jakarta Utara

57. (0)
58. Cicilan Rp. 131.458/bln
59.





                    Jakarta Utara

60. (0)
61. Cicilan Rp. 274.167/bln
62.





                    Jakarta Utara

63. (0)
64. Cicilan Rp. 583.250/bln
65.





                    Jakarta Utara

66. (1)
67. Cicilan Rp. 179.167/bln
68.





                    Jakarta Utara

69. (0)
70. Cicilan Rp. 262.500/bln
71.





                    Jakarta Utara

72. (0)
73. Cicilan Rp. 361.167/bln
74.





                    Jakarta Utara

75. (0)
76. Cicilan Rp. 438.625/bln
77.





                    Jakarta Utara

78. (0)
79. Cicilan Rp. 237.167/bln
80.





                    Jakarta Utara

81. (1)
82. Cicilan Rp. 705.750/bln
83.





                    Jakarta Utara

84. (0)
85. Cicilan Rp. 237.083/bln
86.





                    Jakarta Utara

87. (0)
88. Cicilan Rp. 586.625/bln
89.





                    Jakarta Utara

90. (0)
91. Cicilan Rp. 196.625/bln
92.





                    Jakarta Utara

93. (1)
94. Cicilan Rp. 199.917/bln
95.





                    Jakarta Utara

96. (0)
97. Cicilan Rp. 158.250/bln
98.





                    Jakarta Utara

99. (2)
100. Cicilan Rp. 269.042/bln
101.





                    Jakarta Utara

102. (0)
103. Cicilan Rp. 527.500/bln
104.





                    Jakarta Utara

105. (1)
106. Cicilan Rp. 399.917/bln
107.





                    Jakarta Utara

108. (2)
109. Cicilan Rp. 241.667/bln
110.





                    Jakarta Utara

111. (0)
112. Cicilan Rp. 942.417/bln
113.





                    Jakarta Utara

114. (1)
115. Cicilan Rp. 416.583/bln
116.





                    Jakarta Utara

117. (1)
118. Cicilan Rp. 274.917/bln
119.





                    Jakarta Utara

120. (1)

###### list_rating

```html

                <div class="bmd-product-rating">
                        <i class="ika-star-rating"></i>
                        <i class="ika-star-rating"></i>
                        <i class="ika-star-rating"></i>
                        <i class="ika-star-rating"></i>
                        <i class="ika-star-rating"></i>
                    <span class="bmd-installment">(2)</span>
                </div>
            </div>

In [14]:
rating_divs = soup.find_all('div', {'class': 'bmd-product-rating'})
list_rating = []

for div in rating_divs:
    # Hitung jumlah bintang
    stars = len(div.find_all('i', {'class': 'ika-star-rating'}))
    # Ambil jumlah ulasan dari elemen span
    reviews = div.find('span', {'class': 'bmd-installment'}).get_text().strip('()')
    list_rating.append((stars, int(reviews)))

# Cetak hasilnya
index = 1
for stars, reviews in list_rating:
    print(f"{index}. Bintang: {stars}, Ulasan: {reviews}")
    index += 1

print(list_rating)

1. Bintang: 1, Ulasan: 0
2. Bintang: 1, Ulasan: 0
3. Bintang: 5, Ulasan: 2
4. Bintang: 1, Ulasan: 0
5. Bintang: 1, Ulasan: 0
6. Bintang: 1, Ulasan: 0
7. Bintang: 1, Ulasan: 0
8. Bintang: 5, Ulasan: 1
9. Bintang: 1, Ulasan: 0
10. Bintang: 1, Ulasan: 0
11. Bintang: 1, Ulasan: 0
12. Bintang: 1, Ulasan: 0
13. Bintang: 5, Ulasan: 1
14. Bintang: 5, Ulasan: 1
15. Bintang: 1, Ulasan: 0
16. Bintang: 1, Ulasan: 0
17. Bintang: 1, Ulasan: 0
18. Bintang: 1, Ulasan: 0
19. Bintang: 1, Ulasan: 0
20. Bintang: 1, Ulasan: 0
21. Bintang: 1, Ulasan: 0
22. Bintang: 5, Ulasan: 1
23. Bintang: 1, Ulasan: 0
24. Bintang: 1, Ulasan: 0
25. Bintang: 1, Ulasan: 0
26. Bintang: 1, Ulasan: 0
27. Bintang: 5, Ulasan: 1
28. Bintang: 1, Ulasan: 0
29. Bintang: 1, Ulasan: 0
30. Bintang: 1, Ulasan: 0
31. Bintang: 5, Ulasan: 1
32. Bintang: 1, Ulasan: 0
33. Bintang: 5, Ulasan: 2
34. Bintang: 1, Ulasan: 0
35. Bintang: 5, Ulasan: 1
36. Bintang: 5, Ulasan: 2
37. Bintang: 1, Ulasan: 0
38. Bintang: 5, Ulasan: 1
39. Bintang: 5, Ulasan: 1
40. Bintang: 5, Ulasan: 1
[(1, 0), (1, 0), (5, 2), (1, 0), (1, 0), (1, 0), (1, 0), (5, 1), (1, 0), (1, 0), (1, 0), (1, 0), (5, 1), (5, 1), (1, 0), (1, 0), (1, 0), (1, 0), (1, 0), (1, 0), (1, 0), (5, 1), (1, 0), (1, 0), (1, 0), (1, 0), (5, 1), (1, 0), (1, 0), (1, 0), (5, 1), (1, 0), (5, 2), (1, 0), (5, 1), (5, 2), (1, 0), (5, 1), (5, 1), (5, 1)]

###### .

```html
<div class="o_wsale_product_information position-relative d-flex flex-column flex-grow-1 flex-shrink-1">
                    <div class="o_wsale_product_information_text flex-grow-1">
                        <h6 class="o_wsale_products_item_title mb-2">
                <a class="text-primary text-decoration-none" itemprop="name" href="/electrolux-kulkas-portable-eum0500sb-sku3323235036" content="ELECTROLUX Kulkas Portable EUM0500SB">ELECTROLUX Kulkas Portable EUM0500SB</a>
            </h6>
            <div class="d-flex flex-column">
                <span class="bmd-installment">Cicilan Rp. 168.708/bln</span>
                <div class="">
                        <span class="bmd-special-price-percentage invisible">0</span>
                </div>
            </div>
        </div>
                    <div class="o_wsale_product_sub d-flex justify-content-between align-items-end pb-1">
                        <div class="o_wsale_product_btn"></div>
                        <div class="product_price" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
                                <del style="white-space: nowrap;" class="text-muted me-1 h6 mb-0">
                                    <em class="small" data-oe-type="monetary" data-oe-expression="template_price_vals['base_price']">Rp&nbsp;<span class="oe_currency_value">2.024.500</span></em>
                                </del>
                            <span class="h6 mb-0" data-oe-type="monetary" data-oe-expression="template_price_vals['price_reduce']">Rp&nbsp;<span class="oe_currency_value">2.024.500</span></span>
                            <span itemprop="price" style="display:none;">2024500.0</span>
                            <span itemprop="priceCurrency" style="display:none;">IDR</span>
                        </div>
            <div class="d-flex flex-column" style="gap: 2px;">
                <span class="bmd-installment d-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 12 12" fill="none" style="margin-bottom: 2px;">
                        <g id="map-marker">
                            <path id="shape" fill-rule="evenodd" clip-rule="evenodd" d="M7.38049 1.98437C8.55974 2.54279 9.35773 3.6752 9.48268 4.96753C9.59123 6.06795 9.19602 7.15852 8.40643 7.93743L6.09643 10.2464C6.01428 10.3287 5.90246 10.375 5.78581 10.375C5.66915 10.375 5.55733 10.3287 5.47518 10.2464L3.15643 7.93743C2.36684 7.15852 1.97163 6.06795 2.08018 4.96753C2.19082 3.86 2.79431 2.85979 3.72518 2.24114C4.81368 1.52343 6.20125 1.42595 7.38049 1.98437ZM5.78143 9.32454L7.79393 7.32431C8.39697 6.72539 8.69733 5.88886 8.61206 5.0458C8.52642 4.1958 8.06257 3.4285 7.34768 2.95426C6.39867 2.3277 5.1642 2.3277 4.21518 2.95426C3.49806 3.43038 3.03392 4.20135 2.95081 5.0545C2.86823 5.89464 3.16839 6.7274 3.76893 7.32431L5.78143 9.32454ZM5.78143 3.3891C4.69412 3.3891 3.81268 4.26516 3.81268 5.34583C3.81268 6.42651 4.69412 7.30257 5.78143 7.30257C6.86874 7.30257 7.75018 6.42651 7.75018 5.34583C7.74778 4.26615 6.86774 3.39149 5.78143 3.3891ZM4.68768 5.34583C4.68768 5.94621 5.17737 6.43291 5.78143 6.43291C6.38549 6.43291 6.87518 5.94621 6.87518 5.34583C6.87518 4.74546 6.38549 4.25876 5.78143 4.25876C5.17737 4.25876 4.68768 4.74546 4.68768 5.34583Z" fill="#7C8187"></path>
                        </g>
                    </svg>
                    Jakarta Utara
                </span>
                <div class="bmd-product-rating">
                        <i class="ika-star-rating"></i>
                        <i class="ika-star-rating"></i>
                        <i class="ika-star-rating"></i>
                        <i class="ika-star-rating"></i>
                        <i class="ika-star-rating"></i>
                    <span class="bmd-installment">(2)</span>
                </div>
            </div>
                    </div>
                </div>

###### .

In [10]:
boxes = soup.find_all('div', {'class':'o_wsale_product_information position-relative d-flex flex-column flex-grow-1 flex-shrink-1'})

In [16]:
list_produk = []
list_harga = []
list_cicilan = []
list_rating = []

In [12]:
for i in boxes:
    
    try:
        # produk
        nama_produk = soup.find_all('a', {'class':'text-primary text-decoration-none'})
        for i in nama_produk:
            list_produk.append(i.get_text())
    except:
        list_produk.append(None)
        
    try:
        # harga
        harga_produk = soup.find_all('span', {'class':'oe_currency_value'})
        for i in harga_produk:
            list_harga.append(i.get_text())
    except:
        list_harga.append(None)
        
    try:
        # cicilan
        cicilan = soup.find_all('span',{'class':'bmd-installment'})
        for i in cicilan:
            list_cicilan.append(i.get_text())
    except:
        list_cicilan.append(None)
        
    try:
        # rating
        rating_divs = soup.find_all('div', {'class': 'bmd-product-rating'})
        for div in rating_divs:
            # Hitung jumlah bintang
            stars = len(div.find_all('i', {'class': 'ika-star-rating'}))
            # Ambil jumlah ulasan dari elemen span
            reviews = div.find('span', {'class': 'bmd-installment'}).get_text().strip('()')
            list_rating.append((stars, int(reviews)))
    except:
        list_rating.append(None)
        
data = pd.DataFrame({
    'Nama_Produk': list_produk,
    'Harga': list_harga,
    'Cicilan': list_cicilan,
    'Rating': list_rating
})

data.info()

NameError: name 'list_harga' is not defined